.carousel img {
    height: 400px; /* Adjust the height as needed */
    object-fit: cover; /* Ensures the image covers the area nicely */
}

#carouselExampleCaptions {
    filter: brightness(0.8);
    transition: all 0.4s ease;
}

#carouselExampleCaptions:hover {
    filter: brightness(0.92);
}

.section {
    height: 50vh; /* Ensures full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-center {
    z-index: 1; /* Ensure text is on top */
}

.card {
    opacity: 1; /* Start hidden for animation */
    transition: all 0.3s ease; /* Optional: Smooth opacity transition */
}

.card:hover {
    transform: scale(1.03); /* Slightly enlarge the card on hover */
    /* transition: transform 0.3s ease; Smooth transition */
}
